{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<div
    class="max-w-4xl mx-auto bg-[var(--bg-primary)] border border-[var(--border-color)] rounded-lg shadow-lg overflow-hidden">
    {% if project.image %}
    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="w-full h-64 md:h-96 object-cover">
    {% endif %}

    <div class="p-8">
        <h1 class="text-4xl font-bold mb-4 text-[var(--text-primary)]">{{ project.title }}</h1>
        <div class="flex items-center text-sm text-[var(--text-primary)] opacity-60 mb-6">
            <span>{{ project.created_date }}</span>
            <span class="mx-2">•</span>
            <span>{{ project.tech_stack }}</span>
        </div>

        <div class="prose max-w-none text-[var(--text-primary)] opacity-80 mb-8 font-mono">
            {{ project.description|linebreaks }}
        </div>

        <div class="flex space-x-4">
            {% if project.github_link %}
            <a href="{{ project.github_link }}" target="_blank"
                class="flex items-center px-4 py-2 bg-black border border-[var(--text-primary)] text-[var(--text-primary)] rounded hover:bg-[var(--text-primary)] hover:text-black transition font-bold">
                Source Code
            </a>
            {% endif %}

            {% if project.live_link %}
            <a href="{{ project.live_link }}" target="_blank"
                class="flex items-center px-4 py-2 bg-[var(--text-primary)] text-black rounded hover:shadow-[0_0_15px_#00FF00] transition font-bold">
                Live Demo
            </a>
            {% endif %}
        </div>

        <div class="mt-8 pt-8 border-t border-[var(--border-color)] flex justify-between items-center">
            <a href="/#projects"
                class="text-[var(--text-primary)] hover:text-[var(--text-accent)] transition-colors underline">&larr;
                Back to Projects</a>
            {% if user.is_staff %}
            <div class="space-x-4">
                <a href="{% url 'update_project' project.slug %}"
                    class="text-[var(--text-primary)] hover:text-[var(--text-accent)] font-semibold border-b border-transparent hover:border-[var(--text-accent)] transition-all">Edit
                    Page</a>
                <a href="{% url 'delete_project' project.slug %}"
                    class="text-red-500 hover:text-red-400 font-semibold border-b border-transparent hover:border-red-400 transition-all">Remove
                    Project</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}